*{
    margin: 0px;

} 
.padre
{
width: 500px;
height: 500px;
background-color: aqua;
padding: 50px;
margin: 50px;
}
.hijo1
{
    width: 400px;
height: 100px;
background-color:blue;
margin: 20px;
}
.hijo2
{
    width: 400px;
height: 100px;
background-color:blueviolet;
}
.nieto
{
    width: 300px;
    background-color:yellow ;
}